input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body{
    margin: 0;
    font-family: "Pangolin";
    font-size: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #22545f;
}

button{
    font-family: arial, sans-serif;
    font-size: 25px;
    display: inline-block;
    height:125px;
    width: 125px;
    vertical-align: middle;
    text-align: center;
    background-color: #e2bfab;
    border-radius: 10px;
}

button img{
    transform: translate(0, 5%);
}

.back {
    background-color: #e2bfab;
    font-size: 25px;
    border-radius: 5px;
    padding: 0 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.choicebar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: transparent;
}

#middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    background-color: #70dde2;
}

#scorebar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

#board{
    /*nudge down the page*/
    transform: translate(0, 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
    width: 750px;
    border-radius: 25px;
    background-color: #e498b4;
}

#infolinks{
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 40px;
    align-items: center;
}
